.header {
    @include sm(height, 70px);
    height: 90px;


    .container_full {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .logo {
            @include sm(width, 120px);
            display: flex;
            align-items: center;justify-content: center;

            img {
                max-width: 100%;
            }
        }
    }
}
