.header {
    @include sm(height, 70px);
    height: 90px;

    .container_full {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .logo {
            @include xs(width, 110px);

            img {
                max-width: 100%;
            }
        }
    }
}
