.sidebar {
    @include col();
    @include size(3);
    
    @include lg(display, none);
    position: sticky;
    top: 50px;
    height: fit-content;
    padding: 30px;
    background: $secondary-color;

    .categ {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;

        .val {
            width: 50%;
            text-align: right;
        }

        a {
            @include ff-p();
            display: block;
            width: 50%;
            text-decoration: none;
            color: #000;
            font-weight: 300;
        }
    }

    .posts {
        margin: 20px 0;

        .post {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 8px 0;
            text-decoration: none;
            border-bottom: 2px solid $border-color;

            .title {
                @include ff-p();
            }

            .date {
                width: 100%;
                font-size: 12px;
                color: #939393;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 600;
            }


            img {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 17px;

        a {
            @include font-xs();
            display: block;
            border: 1px solid $contrast-color;
            padding: 4px 10px;
            transition: color 0.3s ease,
                background-color 0.3s ease;
            margin-bottom: 10px;
            text-decoration: none;
            border-radius: 3px;
            text-transform: uppercase;
            margin-right: 10px;
            letter-spacing: 2px;

            &:hover {
                color: #fff;
                background: $contrast-color;
            }
        }
    }


    &__title {
        position: relative;
        font-size: 16px;
        letter-spacing: 3px;
        font-weight: 600;
        text-transform: uppercase;

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 15px;
            height: 3px;
            background-color: $contrast-color;
        }
    }

    input {
        @include ff-p();
        max-width: 170px;
        height: 40px;
        margin: 27px 0;
        padding: 0 10px;
    }
}
