.p-homepage {

    &__slider {
        position: relative;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        height: 400px;
        @include sm(height, 300px);
    }

    &__content {

        .container {
            padding-top: 50px;
            padding-bottom: 50px;
            @include md(padding, 25px 15px);
        }

        .cards {
            @include col();
            @include size(9);
            @include size-lg(12);

            .card {
                border: 2px solid $border-color;
                text-decoration: none;
                color: black;
                display: block;
                transition: box-shadow 0.3s ease;
                height: 100%;
                @include col();

                &:not(:first-child) {
                    @include size(4);
                    @include size-md(6);
                    @include size-xs(12);
                    margin-top: 30px;
                    @include xs(margin-top, 20px);
                }

                &:nth-child(6) {
                    transform: translateY(-35px);
                    @include md(transform, translateY(0));
                }

                &:nth-child(3) {
                    @include md(display, none);
                }


                &__img {
                    img {
                        width: 100%;
                    }
                }

                &__title {
                    text-align: center;
                    margin: 25px 0;
                    @include md(margin, 20px 0);
                }

                .card-row {
                    @include row-flex();
                    justify-content: center;
                    @include md(padding-top, 5px);
                }

                &__date {
                    font-size: 10px;
                    font-weight: bold;
                    color: #949393;
                    font-weight: bold;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }

                &__cat {
                    font-size: 10px;
                    font-weight: bold;
                    color: #949393;
                    font-weight: bold;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    display: flex;

                    &::before {
                        content: url('../../img/svg/rumb.svg');
                        display: block;
                        margin: 0 5px 0 3px;
                    }
                }

                &__desc {
                    @include ff-p();
                    font-size: 14px;
                    padding: 20px;
                    text-align: center;
                    @include sm(padding, 20px 20px 35px);

                }

                &__btn {
                    display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: 12px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #000;
                    margin: 0 auto;
                    width: 170px;
                    height: 30px;
                    border: 1px solid black;
                    margin-bottom: 30px;
                    transition: color 0.3s ease,
                        border 0.3s ease;

                    &:hover {
                        border: 1px solid $active-color;
                        color: $active-color;
                    }
                }

                &:hover {
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
                }

            }

            .main-card {
                height: auto;
                @include size(12);

                .card__title {
                    @include font-md();
                    margin-top: 20px;
                }

                .card__date,
                .card__cat {
                    font-style: 12px;
                }

                .card__desc {
                    width: 325px;
                    text-align: left;
                    margin: 20px auto 25px;
                    @include md(margin, 0 auto 10px);
                    @include md(width, 380px);
                    @include xs(margin, 0);
                    @include xs(width, auto);
                }
            }

            .card-row {
                padding-top: 20px
            }

            .cards__btn {
                @include button();
                margin-top: 50px;
                @include sm(margin-top, 25px);
            }
        }

    }
}

