<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")
        <main class="p-homepage">
            <section class="p-homepage__slider" id="slider"></section>
            <div class="section p-homepage__content">
                <div class="container">
                    <div class="row">
                        <div class="posts">
                            <a href="#" class="main-card card">
                                <div class="card__img">
                                    <img src="./img/main-card.png" alt="fruits">
                                </div>
                                <h2 class="card__title">Something about fruit</h2>
                                <div class="row card-row">
                                    <div class="card__date">18 jan 2021</div>
                                    <div href="#" class="card__cat">fruits</div>
                                </div>
                                <div class="card__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                                <div href="#" class="card__btn">continue reading</div>
                            </a>
                            <div class="row card-row">
                                <div class="col inner-col">
                                    <a href="#" class="card">
                                        <div class="card__img">
                                            <img src="./img/post-1.png" alt="paste">
                                        </div>
                                        <h2 class="card__title">Paste Butterfly</h2>
                                        <div class="row card-row">
                                            <div class="card__date">07 jun 2020</div>
                                            <div href="#" class="card__cat">italian food</div>
                                        </div>
                                        <div class="card__desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                            isicing elit, sed , consectet , consectet do eiusmod tem...
                                        </div>
                                    </a>
                                </div>
                                <div class="col inner-col">
                                    <a href="#" class="card">
                                        <div class="card__img">
                                            <img src="./img/post-2.png" alt="paste">
                                        </div>
                                        <h2 class="card__title">Strawberry pie</h2>
                                        <h2 class="card__title">The best recipes from around the world</h2>
    
                                    </a>
                                </div>
                                <div class="col inner-col">
                                    <a href="#" class="card">
                                        <div class="card__img">
                                            <img src="./img/post-3.png" alt="paste">
                                        </div>
                                        <h2 class="card__title">Cupcakes</h2>
                                        <div class="row card-row">
                                            <div class="card__date">11 dec 2020</div>
                                            <div href="#" class="card__cat">sweets</div>
                                        </div>
                                        <div class="card__desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                            isicing elit, sed , consectet , consectet do eiusmod tem...
                                        </div>
                                    </a>
                                </div>
                                <div class="col inner-col">
                                    <a href="#" class="card">
                                        <div class="card__img">
                                            <img src="./img/post-4.png" alt="paste">
                                        </div>
                                        <h2 class="card__title">Something about vegetable</h2>
                                        <div class="row card-row">
                                            <div class="card__date">03 aug 2020</div>
                                            <div href="#" class="card__cat">vegetable</div>
                                        </div>
                                        <div class="card__desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                            isicing elit, sed , consectet , consectet do eiusmod tem...
                                        </div>
                                    </a>
                                </div>
                                <div class="col inner-col">
                                    <a href="#" class="card">
                                        <div class="card__img">
                                            <img src="./img/post-5.png" alt="paste">
                                        </div>
                                        <h2 class="card__title">Ice Cream</h2>
                                        <div class="row card-row">
                                            <div class="card__date">21 jul 2020</div>
                                            <div href="#" class="card__cat">desserts</div>
                                        </div>
                                        <div class="card__desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                            isicing elit, sed , consectet , consectet do eiusmod tem...
                                        </div>
                                    </a>
                                </div>
                                <div class="col inner-col">
                                    <a href="#" class="card">
                                        <div class="card__img">
                                            <img src="./img/post-6.png" alt="paste">
                                        </div>
                                        <h2 class="card__title">Indian spices</h2>
                                        <div class="row card-row">
                                            <div class="card__date">12 nov 2020</div>
                                            <div href="#" class="card__cat">indianfood</div>
                                        </div>
                                        <div class="card__desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                            isicing elit, sed , consectet , consectet do eiusmod tem...
                                        </div>
                                    </a>
                                </div>
                                <div class="col inner-col">
                                    <a href="#" class="card">
                                        <div class="card__img">
                                            <img src="./img/post-7.png" alt="paste">
                                        </div>
                                        <h2 class="card__title">Korean dinner</h2>
                                        <div class="row card-row">
                                            <div class="card__date">16 mar 2020</div>
                                            <div href="#" class="card__cat">koreanfood</div>
                                        </div>
                                        <div class="card__desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                            isicing elit, sed , consectet , consectet do eiusmod tem...
                                        </div>
                                    </a>
                                </div>
                                <div class="col inner-col">
                                    <a href="#" class="card">
                                        <div class="card__img">
                                            <img src="./img/post-8.png" alt="paste">
                                        </div>
                                        <h2 class="card__title">Cake for you</h2>
                                        <div class="row card-row">
                                            <div class="card__date">05 oct 2020</div>
                                            <div href="#" class="card__cat">cakes</div>
                                        </div>
                                        <div class="card__desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                            isicing elit, sed , consectet , consectet do eiusmod tem...
                                        </div>
                                    </a>
                                </div>
                                <div class="col inner-col">
                                    <a href="#" class="card">
                                        <div class="card__img">
                                            <img src="./img/post-9.png" alt="paste">
                                        </div>
                                        <h2 class="card__title">Sushi</h2>
                                        <div class="row card-row">
                                            <div class="card__date">22 nov 2020</div>
                                            <div href="#" class="card__cat">japanesefood</div>
                                        </div>
                                        <div class="card__desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                            isicing elit, sed , consectet , consectet do eiusmod tem...
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <a href="/blog.html" class="cards__btn">load more</a>
                        </div>
                        <div class="col right-col">
                            <aside class="sidebar">
                                <h2 class="sidebar__title">Categories</h2>
                                <div class="categ">
                                    <a href="#">Cakes</a>
                                    <div class="val">27</div>
                                    <a href="#">Cookie</a>
                                    <div class="val">19</div>
                                    <a href="#">Dessert</a>
                                    <div class="val">24</div>
    
                                </div>
                                <h2 class="sidebar__title">Archives</h2>
                                <input type="month" name="arh" id="arh" placeholder="January 2021">
                                <h2 class="sidebar__title">Recent posts</h2>
                                <div class="posts">
                                    <a class="post">
                                        <img src="./img/post1.png" alt="post">
                                        <div class="title">Cake "Rainbow"</div>
                                        <div class="date">23 jan 2021</div>
                                    </a>
                                    <a class="post">
                                        <img src="./img/post2.png" alt="post">
                                        <div class="title">Make cakes<br> not war</div>
                                        <div class="date">19 jan 2021</div>
                                    </a>
                                    <a class="post">
                                        <img src="./img/post3.png" alt="post">
                                        <div class="title">Donuts</div>
                                        <div class="date">16 jan 2021</div>
                                    </a>
                                </div>
                                <h2 class="sidebar__title">Tags</h2>
                                <div class="tags">
                                    <a href="#">Sweets</a>
                                    <a href="#">pastry</a>
                                    <a href="#">pastrychef</a>
                                    <a href="#">Cake</a>
                                    <a href="#">recipe</a>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
                </div>
            </div>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
