<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    @@include("../blocks/modules/header/header.html")
    <main class="p-homepage">
        <section class="p-homepage__slider" id="slider"></section>
        <section class="p-homepage__content">
            <div class="container">
                <div class="row">
                    <div class="cards">
                        <div class="row card-row">

                            <a href="#" class="main-card card">
                                <div class="card__img">
                                    <img src="../img/homepage/cards/fruits.png" alt="fruits">
                                </div>
                                <h2 class="card__title">Кое-что про фрукты</h2>
                                <div class="row card-row">
                                    <div class="card__date">18 jan 2021</div>
                                    <div href="#" class="card__cat">fruits</div>
                                </div>
                                <div class="card__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                                <div href="#" class="card__btn">continue reading</div>
                            </a>

                            <a href="#" class="card">
                                <div class="card__img">
                                    <img src="../img/homepage/cards/paste.png" alt="paste">
                                </div>
                                <h2 class="card__title">Паста-бабочки</h2>
                                <div class="row card-row">
                                    <div class="card__date">07 jun 2020</div>
                                    <div href="#" class="card__cat">italian food</div>
                                </div>
                                <div class="card__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    isicing elit, sed , consectet , consectet do eiusmod tem...
                                </div>
                            </a>
                            <a href="#" class="card">
                                <div class="card__img">
                                    <img src="../img/homepage/cards/berries.png" alt="pie">
                                </div>
                                <h2 class="card__title">Земляничный пирог</h2>
                                <h2 class="card__title">Лучшие рецепты со всего мира</h2>

                            </a>
                            <a href="#" class="card">
                                <div class="card__img">
                                    <img src="../img/homepage/cards/cupcakes.png" alt="cakes">
                                </div>
                                <h2 class="card__title">Кексы</h2>
                                <div class="row card-row">
                                    <div class="card__date">11 dec 2020</div>
                                    <div href="#" class="card__cat">sweets</div>
                                </div>
                                <div class="card__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    isicing elit, sed , consectet , consectet do eiusmod tem...
                                </div>
                            </a>
                            <a href="#" class="card">
                                <div class="card__img">
                                    <img src="../img/homepage/cards/vegetables.png" alt="vegetables">
                                </div>
                                <h2 class="card__title">Кое-что про овощи</h2>
                                <div class="row card-row">
                                    <div class="card__date">03 aug 2020</div>
                                    <div href="#" class="card__cat">vegetable</div>
                                </div>
                                <div class="card__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    isicing elit, sed , consectet , consectet do eiusmod tem...
                                </div>
                            </a>
                            <a href="#" class="card">
                                <div class="card__img">
                                    <img src="../img/homepage/cards/icecream.png" alt="ice cream">
                                </div>
                                <h2 class="card__title">Мороженное</h2>
                                <div class="row card-row">
                                    <div class="card__date">21 jul 2020</div>
                                    <div href="#" class="card__cat">desserts</div>
                                </div>
                                <div class="card__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    isicing elit, sed , consectet , consectet do eiusmod tem...
                                </div>
                            </a>
                            <a href="#" class="card">
                                <div class="card__img">
                                    <img src="../img/homepage/cards/indian.png" alt="indian">
                                </div>
                                <h2 class="card__title">Индийские специи</h2>
                                <div class="row card-row">
                                    <div class="card__date">12 nov 2020</div>
                                    <div href="#" class="card__cat">indianfood</div>
                                </div>
                                <div class="card__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    isicing elit, sed , consectet , consectet do eiusmod tem...
                                </div>
                            </a>
                            <a href="#" class="card">
                                <div class="card__img">
                                    <img src="../img/homepage/cards/korean.png" alt="korean">
                                </div>
                                <h2 class="card__title">Корейский обед</h2>
                                <div class="row card-row">
                                    <div class="card__date">16 mar 2020</div>
                                    <div href="#" class="card__cat">koreanfood</div>
                                </div>
                                <div class="card__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    isicing elit, sed , consectet , consectet do eiusmod tem...
                                </div>
                            </a>
                            <a href="#" class="card">
                                <div class="card__img">
                                    <img src="../img/homepage/cards/cake.png" alt="cake">
                                </div>
                                <h2 class="card__title">Пирог для вас</h2>
                                <div class="row card-row">
                                    <div class="card__date">05 oct 2020</div>
                                    <div href="#" class="card__cat">cakes</div>
                                </div>
                                <div class="card__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    isicing elit, sed , consectet , consectet do eiusmod tem...
                                </div>
                            </a>
                            <a href="#" class="card">
                                <div class="card__img">
                                    <img src="../img/homepage/cards/sushi.png" alt="sushi">
                                </div>
                                <h2 class="card__title">Суши</h2>
                                <div class="row card-row">
                                    <div class="card__date">22 nov 2020</div>
                                    <div href="#" class="card__cat">japanesefood</div>
                                </div>
                                <div class="card__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    isicing elit, sed , consectet , consectet do eiusmod tem...
                                </div>
                            </a>
                        </div>
                        <a href="/blog.html" class="cards__btn">load more</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>